body,h1,div{
	margin: 0;
	padding: 0;
}

body{
	background:#333;
}
h1{
	margin: 10px 0;
	color: #fff;
	text-align: center;
}
#appContainer{


	width: 1180px;
	height: 560px;
	background: #c3c3c3;
	margin: 0 auto;
	position: relative;

}
#funcBar{
	position: absolute;
	width: 180px;
	height: 100%;
	background: #f2c312;

}
#canvas{
	position: absolute;
	background: #f3f3f3;
	left: 180px;

}

.func-item{
	width: 100%;
	
}
.func-name{
	display: block;
	color: #fff;
	font-size: 1.2em;
	padding: 10px;
}

input[type="range"]{
	width: 160px;
}

#note{
	color: #f32121;

}